<title>Apolo</title>
<div class="bg-home">
<!-- <div class="bg-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= cl_image_path "nuxwrnextj9j04bmgri5", crop: :fill  %>')">
 -->
  <div class="ctn-home">
    <%= cl_image_tag("hso6ioyskrcsfmpnxxt9",width: 1000, crop: :fill) %>
    <h1><span class='re'>Hairdressing, reinvented.</span></h1>
    <h3>Coming Soon !</h3>
  </div>
</div>
